[Unit]
Description=LumOS Smart Home UI
After=graphical.target

[Service]
ExecStart=/usr/bin/LumOS
Environment=QT_QPA_PLATFORM=wayland
Environment=XDG_RUNTIME_DIR=/run/user/0
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=graphical.target